.box_container {
    display: flex;
    height: 700px;
    width: 700px;
    background-color: blue; 
    flex-shrink: 0;
}
body {
    display: flex;
    justify-content: center;
}

.border {
    box-sizing: border-box;
    border: 2px red solid;
}