.box_container {
    display: flex;
    height: 700px;
    width: 700px;
    background-color: white;
}
.box_container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
}
button {
    display: block;
    margin: auto;

    
}
.border {
    box-sizing: border-box;
    border: 1px black solid;
    flex-grow: 1;
}